<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpRedirect enabled="false" destination="" exactDestination="true" />
        <defaultDocument>
            <files>
                <add value="productsretail.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
