html,
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

div.cart-scroller {
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  & table.cart {
    // border: 2px solid #000;
    margin-bottom: 2rem;

    & tbody {
      & .cart-item {
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-grow: 1;
        justify-content: flex-start;
        width: 100%;
        border: 1px solid #eee;
        border-collapse: collapse;
        color: #666;
        font-size: 1.2em;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 2px #eee;

        &:last-child {
          margin-bottom: 0;
        }

        & td,
        th {
          padding: 0.25rem;
          text-align: left;

          &:last-child {
            border-right: 1px solid none;
          }

          & a {
            position: relative;
            display: flex;
            flex: 1;
            flex-grow: 1;

            & .product-image {
              display: flex;
              flex-direction: column;
              flex: 1;
              flex-grow: 1;
              height: 100%;
              justify-content: center;
            }

            justify-content: center;
            align-items: center;

            &.delete-button {
              margin: 1rem;
              height: 32px;
              width: 32px;

              img {
                height: 32px;
                width: 32px;
              }
            }

            &.product-image {
              img {
                height: 70px;
                width: auto;
              }
            }
          }

          & table.order-details,
          table.order-price {
            width: 100%;
            padding: 0;

            & tr.header {
              background-color: #989898;
              color: white;
            }

            & td,
            th {
              padding: 0.15rem 0.5rem;
              margin: 0;
              text-align: left;
              font-size: 0.9em;
              border: none;
              margin: 0;

              &.right {
                text-align: right;
              }

              &.center {
                text-align: center;
              }
            }

            & table.quantity-controls {
              width: 100%;

              & td span.value {
                margin: 0 0.25rem;
              }

              & a.decrement,
              a.increment {

                & button {
                  color: white;
                  width: 20px;
                  height: 20px;
                  padding: 2px 0;
                  font-size: 14px;
                  font-weight: 600;
                  border: none;
                  border-radius: 100%;
                  cursor: pointer;


                }

                &.decrement button {
                  background-color: #f03c00;
                }

                &.increment button {
                  background-color: #00b400;

                }
              }

              & td,
              th {
                padding: 0.1rem;
                margin: 0;
                text-align: left;
                user-select: none;

                &.right {
                  text-align: right;
                }

                &.center {
                  text-align: center;
                }


              }
            }
          }

        }
      }

    }
  }
}